.header {
  margin-top: 0px;
}

.experienced-winners {
  padding-left: 30px;
  max-height: 85vh;
  overflow: auto;
}

.rink-container {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 20px auto;
  background-image: url('https://freedesignfile.com/image/preview/28435/ice-hockey-field-clipart.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.dot-labeled {
  position: absolute;
  border-radius: 80%;
  background-color: green;
  color: white;
  font-size: 10px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  cursor: default;
  text-align: center;
}

.legend-box {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 98%;
  background-color: #fafafa;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.legend-box h3 {
  margin-bottom: 10px;
}

.legend-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
}


.legend-dot {
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
}
